/* SCREENS */
.wrapper {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: white;
}

.screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: top .3s ease-in-out;
}

.screen.active {
  top: 0 !important;
}

.screen.yt {
  background: black;
  top: -100%;
}

.screen.tw {
  background: purple;
  top: 200%;
}

.yt .controller {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.yt .controller .buttons {
  position: absolute;
  top: 91.5%;
  left: 10%;
  width: 80%;
  height: 1%;
  color: white;
  font-size: 16px;
  font-family: 'Varela Round', sans-serif;
  font-weight: 100;
}

.yt .controller .buttons .timer {
  position: absolute;
  left: 0.1%;
  top: 0;
}

.yt .controller .buttons .quality {
  position: absolute;
  right: 0.1%;
  top: 0;
  cursor: pointer;
}

.yt .controller .buttons .box {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 0;
  /* right: 0.1%; */
  height: auto;
  min-width: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  max-width: 80px;
  padding: 5px 15px;
  background: rgba(89, 98, 117, .2);
}

.yt .controller .buttons .box span {
  display: block;
  cursor: pointer;
}

.yt .controller .buttons .box span:hover {
}

.yt .controller .buttons .mute {
  position: absolute;
  right: 4%;
  top: 0;
}

.yt .controller .progressbar {
  position: absolute;
  top: 95%;
  left: 10%;
  width: 80%;
  height: .7%;
  min-height: 6.5px;
  border-radius: 5px;
  background: rgba(89, 98, 117, .2);
  overflow: visible;
}

.yt .controller .progressbar .loaded {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  max-width: 100%;
  width: 0%;
  border-radius: 5px;
  background: rgba(89, 98, 117, .2);
}

.yt .controller .progressbar .progress {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  width: 0%;
  max-width: 100%;
  border-radius: 5px;
  transition: width .1s ease-in-out;
  background: linear-gradient(270deg, #778beb, #63cdda, #f8a5c2, #e66767);
  background-size: 400% 400%;
  -webkit-animation: gradinet-progess 30s ease infinite;
  -moz-animation: gradinet-progess 30s ease infinite;
  animation: gradinet-progess 30s ease infinite;
}

.yt .controller .progressbar .dot {
  position: absolute;
  z-index: 4;
  border-radius: 100%;
  left: calc((100vh * 0.007 * -2) /4);
  top: calc((100vh * 0.007 * -2) /4);
  height: calc((100vh * 0.007) * 2);
  width: calc((100vh * 0.007) * 2);
  min-width: 13px;
  min-height: 13px;
  background: white;
  transition: all .1s ease-in-out;
  cursor: pointer;
}

/* .yt .controller .progressbar .dot:hover {
  left: calc((100vh * 0.007 * -2) /2);
  top: calc((100vh * 0.007 * -2) /2);
  height: calc((100vh * 0.007) * 3);
  width: calc((100vh * 0.007) * 3);
} */

.yt .tv {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.yt .tv .video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: auto;
  height: 100%;
  width: 100%;
  transition: opacity 0.5s;
}

.yt .tv. .audio {
  display: none;
}

.yt .tv #videoplayer_html5_api {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  z-index: 1.2;
  height: 100%;
  width: 100%;
}

@-webkit-keyframes gradinet-progess {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes gradinet-progess {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes gradinet-progess {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

/* ICONS */
.crown {
  width: 50px;
  height: 15px;
  background: #f5cd79;
  position: relative;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: 0px 2px 0px 0 rgba(0,0,0,0.1);
}
.crown:before {
  content: "";
  position: absolute;
  top: -7.5px;
  left: 0;
  height: 15px;
  width: 20px;
  background: #f5cd79;
  border-top-left-radius: 30%;
  overflow: hidden;
  transform: skewY(35deg);
}
.crown:after {
  content: "";
  position: absolute;
  top: -7.5px;
  right: 0;
  height: 15px;
  width: 20px;
  background: #f5cd79;
  border-top-right-radius: 30%;
  overflow: hidden;
  transform: skewY(-35deg);
}
.crown span {
  content: "";
  position: absolute;
  top: -15px;
  left: 15px;
  height: 20px;
  width: 20px;
  background: #f5cd79;
  border-top-left-radius: 30%;
  transform: rotate(45deg);
}
.crown span:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  height: 10px;
  width: 10px;
  background: #c44569;
  border-radius: 30%;
  transform: rotate(0deg);
}

.users {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user {
  height: 70px;
  width: 80px;
  margin: 0 30px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background: #63cdda;
  position: relative;
}
.user::after {
  content: "";
  position: absolute;
  bottom: -10%;
  left: 0;
  background: auto;
  height: 20%;
  border-radius: 50%;
  width: 100%;
  box-shadow: 0px 3px 3px 0 rgba(48, 57, 82,.3);

}
.user .crown {
  transform: rotate(-22deg);
}
